<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="User Authentication">
		<meta name="author" content="">

		<title>{{title}}</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/semantic/dist/semantic.min.css">
	</head>

	<body>

		<!--where our other templates will insert-->
		{{#if logged}}
			<div class="ui fixed inverted menu">
				<div class="ui container">
					<a href="/" class="header item">
						House App
					</a>
					<a href="#" class="item">Home</a>
					<div class="ui simple dropdown item">
						Dropdown <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" href="#">Link Item</a>
							<a class="item" href="#">Link Item</a>
							<div class="divider"></div>
							<div class="header">Header Item</div>
							<div class="item">
								<i class="dropdown icon"></i>
									Sub Menu
								<div class="menu">
									<a class="item" href="#">Link Item</a>
									<a class="item" href="#">Link Item</a>
								</div>
							</div>
							<a class="item" href="#">Link Item</a>
						</div>
					</div>
				</div>
			</div>
		{{/if}}

		{{{body}}}

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="/semantic/dist/semantic.min.js"></script>
	</body>
</html>