body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}

a {
  color: #00B7FF;
}

/* LOGIN */
.ui.form .error.message,
.ui.form .success.message,
.ui.form .warning.message {
	display: block !important;
}
